.formBrk {
    margin-bottom: 25px;
}

.fInp {

    margin-top: 10px;

    max-width: 410px;
    display: block;
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
border-radius: 6px;
border: none;
background-color:
rgba(255, 255, 255, 0.822);
-webkit-box-shadow: 0 0 0 1px rgba(33,37,41,.08);
box-shadow: 0 0 0 1px
rgba(33,37,41,.08);
font: inherit;
color:
#212529;
padding: .6rem;
width: 100%;
-webkit-transition: border .2s cubic-bezier(.645,.045,.355,1),color .2s cubic-bezier(.645,.045,.355,1),background-color .2s cubic-bezier(.645,.045,.355,1),-webkit-box-shadow .2s cubic-bezier(.645,.045,.355,1);
transition: border .2s cubic-bezier(.645,.045,.355,1),color .2s cubic-bezier(.645,.045,.355,1),background-color .2s cubic-bezier(.645,.045,.355,1),-webkit-box-shadow .2s cubic-bezier(.645,.045,.355,1);
transition: box-shadow .2s cubic-bezier(.645,.045,.355,1),border .2s cubic-bezier(.645,.045,.355,1),color .2s cubic-bezier(.645,.045,.355,1),background-color .2s cubic-bezier(.645,.045,.355,1);
transition: box-shadow .2s cubic-bezier(.645,.045,.355,1),border .2s cubic-bezier(.645,.045,.355,1),color .2s cubic-bezier(.645,.045,.355,1),background-color .2s cubic-bezier(.645,.045,.355,1),-webkit-box-shadow .2s cubic-bezier(.645,.045,.355,1);
}
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#hpg {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
}

#navbar {
    background-color: transparent;
    color: blueviolet;
    display: flex;
}

#navbar ul {
    padding: 0;
    list-style-type: none;
    display: inline-flex;
}

#navbar ul > li {
    align-items: center;
    vertical-align: auto;
}

#navbar ul > li.spec {
    padding-left: 56px;
    padding-top: 25px;
    
}

#navbar ul > li.spec > a {
    text-decoration: none;
    color: #000;
}

#navbar ul > li.spec > a:hover {
    text-decoration: underline;
    color: #000;
}

.spbtn {
    color: blueviolet;
    text-decoration: none;
}

.spbtn:hover {
    color: blueviolet;
    text-decoration: underline;
}

.hero {

}
.hero h1 {
    max-width: 580px;
}
.hero p {
    font-size: 21px;
    max-width: 580px;
    color: rgba(66, 66, 66, 0.542);
}

.logos {
    cursor: pointer;
}

.abtn {
    margin-top: 25px;
    font-weight: 700;
    background-color: blueviolet;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
    padding: 14px 58px;
}

.bbtn {
    margin-top: 25px;
    font-weight: 700;
    background-color: black;
    color: #FFF;
    text-decoration: none;
    border-radius: 4px;
    padding: 14px 58px;
}

.abtn:hover {
    background-color: rgb(99, 30, 163);
}

.footerImg {
    max-width: 70px;
    padding-top: 50px;
}
